In [ ]:
#Dictinary Methods

In [2]:
#Dictionary 
my_dict = {1: 'AI', 2: 'ML'}
my_dict

{1: 'AI', 2: 'ML'}

In [4]:
my_dict = {"name":["A","B","C"],"Age":[24,25,26],"gander":["m","f","f"],"name":["A","B","C"]}
my_dict

import pandas as pd
pd.DataFrame(my_dict)

  name  Age gander name1
0    A   24      m     A
1    B   25      f     B
2    C   26      f     C

In [ ]:
#Keys
my_dict.keys()

In [ ]:
#Values
my_dict.values()

In [ ]:
#Items
my_dict.items()

In [ ]:
#add item
my_dict["Age"]=(20,20,20)

In [ ]:
my_dict

In [ ]:
del my_dict["Age"]
my_dict

In [ ]:
# empty dictionary
my_dict

In [ ]:
# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}

my_dict

In [ ]:
# using dict()
my_dict = dict({1:'apple', 2:'ball'})

my_dict

In [ ]:
#Accessing elements from dictionary
my_dict = {'name':'Jack', 'age': 26}

my_dict

In [ ]:
my_dict['name']

In [ ]:
my_dict.get('age')

In [ ]:
#Adding Itens to dictionary-We can add new items or change the value of existing items using assignment operator.
#If the key is already present, value gets updated, else a new key: value pair is added to the dictionary.
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict["color"] = "red"

thisdict

In [ ]:
#new dict
my_dict = {'name':'Jack', 'age': 26}

my_dict

{'name': 'Jack', 'age': 26}

# update value
my_dict['age'] = 27

my_dict

In [ ]:
#del
del my_dict["address"]  

my_dict

In [ ]:
#clear()
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [ ]:
car.clear()

In [ ]:
#items()
car.items()

In [ ]:
#keys()
car.keys()

In [ ]:
#pop()
car.pop("model")

In [ ]:
#popitem()
car.popitem()

In [ ]:
#update()
car.update({"color": "Blue"})
car

In [ ]:
#values()
car.values()
car